In [111]:
import pandas as pd
import numpy as np

In [112]:
forNS = pd.read_csv("Data\\forNS.csv")
forNS['NS'] = 1

In [113]:
forNS

       Unnamed: 0      Site        Date Stock  NS
0               0  29_00594  2021-02-27    СЗ   1
1               1  29_00594  2021-02-27    СЗ   1
2               2  29_00599  2021-04-29    СЗ   1
3               3  29_00599  2021-04-29    СЗ   1
4               4   29_0070  2021-04-15    СЗ   1
...           ...       ...         ...   ...  ..
16513       16513  77_94796  2021-12-26     М   1
16514       16514  77_94796  2021-12-26     М   1
16515       16515  77_94796  2021-12-26     М   1
16516       16516  77_95206  2021-12-31     М   1
16517       16517  77_21979  2021-12-31     М   1

[16518 rows x 5 columns]

In [114]:
forSWAP = pd.read_csv("Data\\forSWAP.csv")
forSWAP['SWAP'] = 1

In [115]:
forSWAP

       Unnamed: 0      Site        Date Stock  SWAP
0               0   10_0062  2021-03-30    СЗ     1
1               1   10_0062  2021-03-30    СЗ     1
2               2   10_0062  2021-03-30    СЗ     1
3               3   10_0305  2021-05-21    СЗ     1
4               4   10_0305  2021-05-21    СЗ     1
...           ...       ...         ...   ...   ...
17088       17088  77_77227  2021-10-20     М     1
17089       17089  77_95206  2021-10-30     М     1
17090       17090  77_95206  2021-10-30     М     1
17091       17091  77_95679  2021-07-20     М     1
17092       17092  77_95679  2021-07-20     М     1

[17093 rows x 5 columns]

In [116]:
data_plan = pd.concat([forSWAP, forNS])

In [117]:
data_plan = data_plan.rename(columns={'Date':'Date_plan'})

In [118]:
data_plan

       Unnamed: 0      Site   Date_plan Stock  SWAP   NS
0               0   10_0062  2021-03-30    СЗ   1.0  NaN
1               1   10_0062  2021-03-30    СЗ   1.0  NaN
2               2   10_0062  2021-03-30    СЗ   1.0  NaN
3               3   10_0305  2021-05-21    СЗ   1.0  NaN
4               4   10_0305  2021-05-21    СЗ   1.0  NaN
...           ...       ...         ...   ...   ...  ...
16513       16513  77_94796  2021-12-26     М   NaN  1.0
16514       16514  77_94796  2021-12-26     М   NaN  1.0
16515       16515  77_94796  2021-12-26     М   NaN  1.0
16516       16516  77_95206  2021-12-31     М   NaN  1.0
16517       16517  77_21979  2021-12-31     М   NaN  1.0

[33611 rows x 6 columns]

In [119]:
data_plan = data_plan.fillna(0).drop(["Unnamed: 0"], axis = 1)

In [120]:
data_plan = data_plan.sort_values(by=['Date_plan'])

In [121]:
expOper = pd.read_csv("Data\\exp_oper.csv")

In [122]:
expOper = expOper.drop(['Unnamed: 0', 'Vol'], axis=1)

In [123]:
expOper = expOper.rename(columns={'Date':'Date_Fact'})

In [124]:
expOper = expOper.sort_values(by=['Date_Fact'])

In [125]:
data = expOper.merge(data_plan, on=['Site', 'Stock']).drop(['Mes'],axis=1)

In [126]:
data

,Date_Fact,item_ID,Stock,Site,Cnt,Date_plan,SWAP,NS
0,2020-09-01,144.022.000726,СЗ,78_03321,6.0,2021-08-04,0.0,1.0
1,2020-09-01,144.022.000813,СЗ,78_03159,1.0,2021-06-27,0.0,1.0
2,2020-09-01,248.020.000065,СЗ,78_03159,197.0,2021-06-27,0.0,1.0
3,2020-09-01,132.346.000652,СЗ,78_03159,12.0,2021-06-27,0.0,1.0
4,2020-09-01,144.022.000770,СЗ,78_03159,1.0,2021-06-27,0.0,1.0
...,...,...,...,...,...,...,...,...
56010,2021-08-31,144.022.000838,СЗ,78_01388,1.0,2021-08-08,0.0,1.0
56011,2021-08-31,144.022.000853,СЗ,78_01388,1.0,2021-04-28,0.0,1.0
56012,2021-08-31,144.022.000853,СЗ,78_01388,1.0,2021-08-08,0.0,1.0
56013,2021-08-31,261.348.000063,СЗ,78_01388,1.0,2021-04-28,0.0,1.0
56014,2021-08-31,261.348.000063,СЗ,78_01388,1.0,2021-08-08,0.0,1.0

In [127]:
data['Date_Fact'] = pd.to_datetime(data['Date_Fact'])
data['Date_plan'] = pd.to_datetime(data['Date_plan'])

In [128]:
data['difference'] = data['Date_Fact'] - data['Date_plan']

In [129]:
data

,Date_Fact,item_ID,Stock,Site,Cnt,Date_plan,SWAP,NS,difference
0,2020-09-01,144.022.000726,СЗ,78_03321,6.0,2021-08-04,0.0,1.0,-337 days
1,2020-09-01,144.022.000813,СЗ,78_03159,1.0,2021-06-27,0.0,1.0,-299 days
2,2020-09-01,248.020.000065,СЗ,78_03159,197.0,2021-06-27,0.0,1.0,-299 days
3,2020-09-01,132.346.000652,СЗ,78_03159,12.0,2021-06-27,0.0,1.0,-299 days
4,2020-09-01,144.022.000770,СЗ,78_03159,1.0,2021-06-27,0.0,1.0,-299 days
...,...,...,...,...,...,...,...,...,...
56010,2021-08-31,144.022.000838,СЗ,78_01388,1.0,2021-08-08,0.0,1.0,23 days
56011,2021-08-31,144.022.000853,СЗ,78_01388,1.0,2021-04-28,0.0,1.0,125 days
56012,2021-08-31,144.022.000853,СЗ,78_01388,1.0,2021-08-08,0.0,1.0,23 days
56013,2021-08-31,261.348.000063,СЗ,78_01388,1.0,2021-04-28,0.0,1.0,125 days
56014,2021-08-31,261.348.000063,СЗ,78_01388,1.0,2021-08-08,0.0,1.0,23 days

In [130]:
d = pd.read_csv("Data\\Delivery.csv")

In [131]:
d

,Unnamed: 0,CreationDate,ExecDate,Date,Stock,item_ID,Cnt,difference
0,17,2021-12-03,2021-12-14,2021-12-27,У,213.346.000834,25000.0,13 days
1,108,2021-11-09,2022-02-16,2021-12-14,СЗ,249.346.000172,1.0,-64 days
2,109,2021-12-02,2022-11-03,2021-12-14,СЗ,249.346.000172,1.0,-324 days
3,110,2021-12-02,2022-11-03,2021-12-14,СЗ,249.346.000172,1.0,-324 days
4,133,2021-11-25,2022-05-30,2021-12-14,СЗ,249.346.000172,2.0,-167 days
...,...,...,...,...,...,...,...,...
3033,7384,2021-07-15,2021-09-11,2021-12-29,У,239.020.001338,1.0,109 days
3034,7385,2021-12-02,2022-02-14,2021-12-29,У,243.020.000903,1.0,-47 days
3035,7386,2021-11-30,2022-03-02,2021-12-29,СЗ,164.346.000153,5.0,-63 days
3036,7387,2021-10-20,2022-05-01,2021-12-30,СЗ,560.002.001287,2.0,-122 days
3037,7388,2021-10-20,2022-05-01,2021-12-30,СЗ,560.002.001227,5.0,-122 days

In [132]:
d = d.drop(['Unnamed: 0'], axis=1)

In [133]:
data['difference'] = data['difference'].astype(str).apply(lambda x: x.replace(' days','')).astype(int)

In [134]:
d['difference'] = d['difference'].apply(lambda x: x.replace(' days','')).astype(int)

In [137]:
data.to_csv("Data//data_export.csv")

In [138]:
d.to_csv("Data//data_import.csv")